<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title"> Fast Start </h1>    
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="friend in friends track by $index">
        {{friend}}
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-positive">
	  <div class="buttons">
	    <button class="button">Left Button</button>
	  </div>
	  <h1 class="title">Title!</h1>
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button">Right Button</button>
	  </div>
	</ion-footer-bar>

</ion-view>
